.App {
  text-align: center;
  background-image: url('https://images4.alphacoders.com/102/1025923.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-emperor-form {
  text-align: center;
  background-image: url('https://as1.ftcdn.net/v2/jpg/05/85/21/72/1000_F_585217221_k5TqvtShdLy2g4Q5lHLFWzaluJyH2SFj.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
